.pieChart .labelBox {
  padding: 10px;
  border-radius: 5px;
  position: relative;
  margin-left: 20px;
  font-size: 14px;
}

.pieChart .labelBox::before {
  content: "";
  z-index: 10;
  height: 15px;
  width: 25px;
  background: var(--bgColor);
  border: 1px solid var(--borderColor);
  top: 14px;
  left: -24px;
  position: absolute;
}

.pieChart .ChartDetails::before {
  content: "";
  z-index: 10;
  height: 120%;
  width: 2px;
  background: #e0e0e0;
  top: -20px;
  left: -12px;
  position: absolute;
}
