/* PrivacyPolicy.css */

.PrivacyPolicy .h2Style {
  font-weight: bold;
  font-size: 3rem; /* This corresponds to text-3xl in Tailwind CSS */
  text-align: start;
  color: rgb(88, 95, 96);
}

.PrivacyPolicy .paraStyle {
  font-size: 18px; /* This corresponds to text-xl in Tailwind CSS */
  font-weight: 500;
  text-align: start;
  color: rgb(67, 66, 66);
}

.PrivacyPolicy ul {
  list-style-type: disc;
  padding-left: 20px;
  text-align: start;
}

@media (min-width: 300px) {
  .PrivacyPolicy .h2Style {
    font-size: 2rem; /* This corresponds to text-3xl in Tailwind CSS */
  }
  .PrivacyPolicy .paraStyle {
    font-size: 16px; /* This corresponds to text-xl in Tailwind CSS */
  }
}

@media (min-width: 800px) {
  .PrivacyPolicy .h2Style {
    font-size: 2.5rem; /* This corresponds to text-3xl in Tailwind CSS */
  }
}
