.navbar .button p button {
  background: linear-gradient(94.07deg, #ffc96f 0%, #ff9571 100%);
  display: inline-block;
  padding: 10px 1rem;
  border-radius: 10px;
}
.navbar .button p button:hover {
  background: #ff9571;
}
