/* Ripple effect styles */
.ripple {
  position: absolute;
  border-radius: 50%;
  background: rgba(
    255,
    255,
    255,
    0.3
  ); /* Use a darker shade for the ripple effect */
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
  z-index: 1; /* Ensure ripple is on top */
  transition: opacity 0.9s ease-out;
  animation: ripple-animation 0.9s ease-out;
}
.ripple.outline {
  background: rgba(255, 81, 0, 0.761);
}
@keyframes ripple-animation {
  50% {
    opacity: 0.5;
    transform: scale(1); /* Scale to make it larger before disappearing */
  }
  100% {
    opacity: 0;
    transform: scale(2); /* Scale to make it larger before disappearing */
  }
}

/* Ensure the button has relative positioning */
.mainbtn {
  position: relative;
  overflow: hidden; /* Hide the ripple overflow */
}

/* Additional button styles for MUI-like appearance */
.mainbtn {
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}
