@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.logo {
  height: auto;
  padding: 0;
}
